@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Muli:300,400,600);.productwrap {
  width: 78%;
  float: right;
  background: rgba(245, 243, 243, 0.27);
  min-height: 800px;
  padding: 2em;
}

.mainTit {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}

.divider {
  margin: 0 5px;
}

@media (max-width: 475px) {
  .dividernodisplay {
    display: none;
  }
}

.maincolor-back {
  background-color: #00122d;
  color: #fff;
}

.grey-back {
  background-color: #f9f9f9;
  color: #383838;
}

.button {
  border: 0;
  border-radius: 50px;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover {
  cursor: pointer;
}

.btnBig {
  border: 0;
  border-radius: 0;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnBig:hover {
  cursor: pointer;
}

.btn {
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btnXL {
  padding: 6px 25px;
}

.btnGreen {
  background-color: #49a462;
  margin: 2px 2px;
  color: #fff;
}

.btnGreen:hover, .btnGreen:active, .btnGreen:focus {
  background-color: #5cc87a;
  color: #fff;
}

.btnBlue {
  background-color: #00c9ef;
  margin: 2px 2px;
  font-size: 1rem;
  color: #fff;
}

.btnBlue:hover, .btnBlue:active, .btnBlue:focus {
  background-color: #00122d;
  color: #fff;
}

.btnDark {
  background-color: #00122d;
  margin: 2px 2px;
  font-size: 1.7rem;
  color: #fff;
  font-family: "Arvo", serif;
}

.btnDark:hover, .btnDark:active, .btnDark:focus {
  background-color: #00c9ef;
  color: #000;
}

.btnBlueDark {
  background-color: #00c9ef;
  margin: 2px 2px;
  font-size: 1.4rem;
  color: #000;
  font-family: "Arvo", serif;
}

.btnBlueDark:hover, .btnBlueDark:active, .btnBlueDark:focus {
  background-color: #00122d;
  color: #fff;
}

.btnRed {
  background-color: #cf5653;
  margin: 2px 2px;
  color: #fff;
}

.btnRed:hover, .btnRed:active, .btnRed:focus {
  background-color: #cd7371;
  color: #fff;
}

.btnYellow {
  background-color: #c4c746;
  margin: 2px 2px;
  color: #fff;
}

.btnYellow:hover, .btnYellow:active, .btnYellow:focus {
  background-color: #cbcd6f;
  color: #fff;
}

.ButtonLogin {
  border: 0;
  margin-top: 8px;
}

.categorySelectBtn {
  padding: 10px 30px;
}

.btnGrey {
  background-color: #d6d6d6;
  color: #000;
}

.btnGrey:hover, .btnGrey:active, .btnGrey:focus {
  background-color: #a4a4a4;
  color: #fff;
}

.btnRightMobCent {
  text-align: right;
}

@media (max-width: 765px) {
  .btnRightMobCent {
    text-align: center;
  }
}

.smallBtn {
  padding: 1px 10px;
}

.btnHollow {
  padding: 10px 15px;
  border: 2px solid white;
  font-size: 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnHollow:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.btnHollowInv {
  padding: 10px 15px;
  background-color: #fff;
  border: 2px solid white;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #383838;
}

.btnHollowInv:hover {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  color: #fff;
}

.btnHollowGreyTrans {
  background-color: transparent;
  border: 1px solid #1ad4be;
  color: #fff;
}

.btnHollowGreyTrans:hover {
  background-color: #fff;
  color: #383838;
}

.btnHollowGreyTransBlack {
  background-color: transparent;
  border: 1px solid #1ad4be;
  color: #1ad4be;
}

.btnHollowGreyTransBlack:hover {
  background-color: #1ad4be;
  color: #383838;
}

.btnHollowGreen {
  background-color: #1ad4be;
  border: 1px solid #ccc;
  color: #fff;
}

.btnHollowGreen:hover {
  background-color: #fff;
  color: #383838;
}

.btnHollowB {
  padding: 15px 25px;
  border: 2px solid #eb5757;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #fff;
}

.btnHollowB:hover {
  cursor: pointer;
  background-color: #eb5757;
  color: #fff;
}

.btnHollowRed {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #eb5757;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #eb5757;
}

.btnHollowRed:hover {
  cursor: pointer;
  background-color: #eb5757;
  color: #fff;
}

.btnHollowSmall {
  border: 1px solid black;
  padding: 4px 10px;
  margin-bottom: 5px;
}

.btnHollowSmall a {
  color: black;
}

.btnWhiteMedium {
  background-color: #fff;
  font-size: 1.2rem;
  color: #000;
}

.btnWhiteMedium:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  color: #000;
}

.tag {
  padding: 4px 14px;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 35px;
  border-radius: 50px;
  white-space: nowrap;
  font-size: 1.2rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.blue-tag {
  background-color: #476AEA;
  color: #fff;
}

.blue-tag:hover {
  background-color: #4A3FB8;
  cursor: pointer;
}

.red-tag {
  background-color: #D77777;
  color: #fff;
}

.red-tag:hover {
  background-color: #E64646;
  cursor: pointer;
}

.badgeRed {
  background-color: #CA5858;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.badgeRed a {
  color: #fff;
}

.badgeRed:hover {
  background-color: #D87575;
  color: #fff;
  cursor: pointer;
}

.badgeRed:hover a {
  color: #fff;
}

.badgeGrey {
  background-color: #F8F8F8;
  font-size: 1.2rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.badgeGrey a {
  color: #fff;
}

.badgeGrey:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.badgeGrey:hover a {
  color: #7D7D7D;
}

.badgeHollow {
  background-color: transparent;
  border: 1px solid #03c3ad;
  font-size: 1rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
  padding: 4px 8px;
  border-radius: 26px;
  color: #383838;
}

.badgeHollow a {
  color: #fff;
}

.badgeHollow:hover {
  background-color: #03c3ad;
  cursor: pointer;
  color: #fff;
}

.badgeHollow:hover a {
  color: #fff;
}

.sqbadge-red {
  border-radius: 0;
  font-size: 1.2rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  margin: 3px 1px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.sqbadge-red a {
  color: #fff;
}

.sqbadge-red:hover {
  background-color: #fff;
}

.sqbadge-red:hover a {
  color: #383838;
}

.vertical-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list ul li {
  list-style: none;
  display: block;
}

.horizontal-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.horizontal-list ul li {
  display: inline-block;
  list-style: none;
}

.mainContainer {
  margin-top: 20px;
}

.wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 60px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.section {
  padding: 100px 10px;
}

.small-section {
  padding: 50px 10px;
}

@media (max-width: 768px) {
  .small-section {
    padding: 50px 30px;
  }
}

.topDecoration {
  background-image: url(../webimages/home/navback.png);
  background-repeat: repeat-x;
  min-height: 100px;
  z-index: 2;
  position: relative;
}

.softhr {
  border-top: 1px solid rgba(238, 238, 238, 0.48);
}

.shorthr {
  border-top: 2px solid #fff;
  width: 50%;
  float: left;
}

.filtersSide {
  padding: 0;
}

.filters {
  background-color: #fff;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 190px;
}

.filters hr {
  margin: 5px 0;
}

.filters .fa {
  color: #3E3E3E;
  font-size: 10px;
  font-weight: 100;
}

.filterTit {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.filterSubTit {
  font-size: 14px;
  font-weight: 300;
}

#filterPrice {
  text-align: center;
}

#filterPrice label {
  font-size: 14px;
  font-weight: 300;
}

#filterPrice input[type=text], #filterPrice select {
  width: 70%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#filterPrice input[type=submit] {
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 0;
  cursor: pointer;
}

.checkbox-custom:active, .checkbox-custom:focus, .checkbox-custom-label:active, .checkbox-custom-label:focus, .radio-custom:active, .radio-custom:focus, .radio-custom-label:active, .radio-custom-label:focus {
  outline: none;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #eb5757;
  -webkit-box-shadow: inset 0px 0px 0px 4px #fff;
          box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  background: #ccc;
  -webkit-box-shadow: inset 0px 0px 0px 4px #fff;
          box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0726c;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:active:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(5);
}

.transition {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.transition2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mainTit {
  color: #fff;
}

@media (max-width: 470px) {
  .mainTit h1 {
    font-size: 20px;
    color: #000;
  }
}

.catTit {
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
  opacity: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.catSecTxt {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.catSubtit {
  font-family: "Muli", sans-serif;
  font-size: 1em;
  font-weight: 300;
  opacity: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.itembox {
  height: 380px;
  width: 277px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 5px 5px;
  max-width: 100%;
  text-align: center;
}

.itembox img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.itembox .overbox {
  height: 380px;
  width: 277px;
  background-color: rgba(57, 72, 103, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  padding: 25px 20px;
  max-width: 100%;
}

.itembox:hover .overbox {
  opacity: 1;
}

.itembox .overtext {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.itembox:hover .catTit, .itembox:focus .titcatTitle {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.itembox:hover .catSubtit, .itembox:focus .catSubtit {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.catSeeMore {
  padding-top: 100px;
  width: 180px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.contact-tab {
  display: none;
}

@media (max-width: 765px) {
  .contact-tab {
    display: block;
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 80px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    -webkit-box-shadow: 4px 3px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 11px -5px rgba(0, 0, 0, 0.75);
  }
  .contact-tab img {
    max-width: 100%;
    width: 40px;
  }
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #00122d;
  border: 0;
  border-radius: 0 !important;
}

.pagination > li > a, .pagination > li > span {
  color: #383838;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #00122d;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}

.horiz-items .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.horiz-items .inner img {
  margin-right: 10px;
  float: left;
  max-width: 75px;
}

.horiz-items .inner p {
  color: #00122d;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 768px) {
  .horiz-items .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
  }
  .horiz-items .inner img {
    max-width: 100%;
    width: 55px;
  }
}

.enum-items-left .item {
  width: 100%;
}

.enum-items-left .item img {
  float: left;
  margin-right: 10px;
  max-height: 100%;
}

.enum-items-left .item p {
  margin-top: 5px;
}

.enum-items-col .item img {
  float: left;
  margin-right: 10px;
  max-height: 100%;
}

.enum-items-col .item p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 5px;
  padding-left: 40px;
}

.text-with-preimg {
  position: relative;
}

.text-with-preimg .pre-img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.text-with-preimg .text-offset {
  padding-left: 50px;
  font-weight: 300;
}

.medium-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}

.top-space {
  height: 100px;
}

.top-space-big {
  height: 150px;
}

@media (max-width: 991px) {
  .top-space-big {
    height: 50px;
  }
}

.single-item-category {
  margin-bottom: 5px;
}

.single-item-category .badge {
  font-size: 0.9rem;
}

.single-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px;
  position: relative;
  position: relative;
}

.single-item .title {
  font-size: 1rem;
}

.single-item .title-mobile {
  display: none;
}

.single-item .content {
  padding-top: 25px;
  text-align: center;
}

.single-item .content h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.single-item .content span.code {
  font-size: 1.4rem;
  color: #ed7676;
}

.single-item .content .desc {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-item .content .desc pSecT {
  font-size: 1rem;
  font-style: italic;
  color: #000;
}

.single-item .content .details span.sub-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.single-item .content .sizes .size-circle {
  color: #fff;
  background-color: #ed7676;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
}

.single-item .content .colors .color-circle {
  width: 40px;
  height: 40px;
}

.single-item .article-actions {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 991px) {
  .single-item .title {
    display: none;
    font-style: italic;
    font-size: 1rem;
  }
  .single-item .title-mobile {
    text-align: center;
    display: block;
  }
  .single-item .title-mobile h1 {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 10px;
  }
}

.swiper-slide {
  text-align: center;
}

.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-image: none;
  font-size: 2rem;
  opacity: 0;
}

.swiper-container .swiper-button-prev i, .swiper-container .swiper-button-next i {
  font-weight: 400;
  color: blue;
}

.swiper-container .swiper-scrollbar {
  display: none;
}

.swiper-container img {
  max-width: 100%;
}

.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
  opacity: 1;
}

.main-slider {
  padding: 0;
  background-color: #f9f9f9;
}

.main-slider .slider-cimhe {
  background: url(../webimages/slider/banner-cimhe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-slider .slider-geotermica {
  background: url(../webimages/slider/banner-geotermica.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-slider .slider-insumos {
  background: url(../webimages/slider/banner-insumos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-slider .slider-inner {
  padding: 90px 60px 60px;
}

.main-slider .slider-inner h2 {
  display: inline;
  background-color: #fff;
  padding: 10px;
  line-height: 3.5rem;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.main-slider .slider-inner .h2 {
  display: none;
}

.main-slider .slider-inner .title {
  margin-top: 25px;
  font-family: "Arvo", serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.main-slider .slider-inner .text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

.simple-slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 50px auto;
  border-radius: 4px;
}

.simple-slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.simple-slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  background: transparent;
  text-align: center;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.simple-slider ul li span.icon {
  font-size: 5rem;
  color: #62376b;
}

.simple-slider ul li span.text {
  color: #fff;
}

.simple-slider ul li a {
  color: #fff;
}

@media (max-width: 520px) {
  .simple-slider {
    width: 100% !important;
    text-align: center;
    margin: 5px;
    height: 250px;
  }
  .simple-slider ul li {
    line-height: 80px;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .simple-slider {
    display: none;
  }
}

.swiper-slide {
  text-align: left;
  padding: 0 55px;
}

.swiper-slide .text {
  margin-top: 10px;
}

.swiper-slide .text p {
  font-size: 1.2rem;
  font-weight: 400;
}

.swiper-slide .left-image {
  max-width: 112px;
  float: left;
  margin-right: 10px;
}

.mail-error {
  display: none;
}

.mail-success {
  display: none;
}

.error-page {
  padding-top: 180px;
  text-align: center;
}

.modal-content {
  border-radius: 0;
}

.modal-content .form-control {
  border: 1px solid #00122d;
  border-radius: 0;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #fff;
  color: #383838;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  margin: 0;
}

body a {
  text-decoration: none;
  color: #00c9ef;
}

body a:hover {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Arvo", serif;
}

h1 {
  font-size: 2.9rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #BDD9EB;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 300;
}

hr {
  border-top: 1px solid #00122d;
}

.brd {
  border: 1px solid red;
}

.txL {
  text-align: left;
}

.txR {
  text-align: right;
}

.txC {
  text-align: center;
}

.pad0 {
  padding: 0;
}

.mar0 {
  margin: 0;
}

.margTop0 {
  margin-top: 0 !important;
}

.padTop0 {
  padding-top: 0 !important;
}

@media (max-width: 900px) {
  .hideMobile900 {
    display: none !important;
  }
}

.Hidden {
  display: none !important;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

ul {
  padding-left: 0;
}

.main-header {
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 15px;
  text-align: left;
}

.main-header .item-inline .inner {
  min-width: 220px;
  font-size: 1rem;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-header .item-inline .inner img {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  margin-right: 10px;
  float: left;
}

.main-header .item-inline .inner img:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  cursor: pointer;
}

.nav-container {
  min-height: 73px;
  margin-top: -20px;
  padding-top: 10px;
  padding-right: 25px;
  background-color: #00122d;
}

.navbar-default {
  border: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  border-bottom: 1px solid #00c9ef;
  color: #00c9ef;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 1.5rem;
  }
}

.navbar-default .navbar-toggle {
  border-radius: 0;
  border-color: #00c9ef;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background-color: #00c9ef;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse .nav-mobile-extra {
  display: none;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    border-bottom: 0;
    color: #00c9ef;
  }
  .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:active {
    background-color: transparent;
    border: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    height: 150px;
    background-color: transparent;
    border-bottom: 0;
    border: 0;
  }
  .navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    border-bottom: 1px solid #00c9ef;
    color: #00c9ef;
  }
  .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:active {
    background-color: transparent;
    border-bottom: 1px solid #f9f9f9;
    color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a:hover {
    border: none;
  }
  .navbar-collapse {
    padding-bottom: 10px;
  }
  .navbar-collapse .nav-mobile-extra {
    display: block;
    text-align: center;
    color: #fff;
  }
  .navbar-collapse .nav-mobile-extra hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(249, 249, 249, 0.5);
  }
  .navbar-collapse .nav-mobile-extra .btnBlue {
    border: 1px solid #00122d;
  }
  .navbar-collapse .nav-mobile-extra .btnBlue:hover {
    border: 1px solid #00c9ef;
  }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 480px;
}

@media (max-width: 768px) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    min-height: 100vh;
  }
}

.navbar-brand {
  padding: 5px;
  padding-left: 15px;
}

.navbar-brand img {
  width: 248px;
}

@media (max-width: 768px) {
  .nav-container {
    margin-top: 1px;
  }
  .main-header {
    display: none;
  }
}

.main-home {
  background: url(../webimages/main/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 80px 10px 110px;
}

.main-home .inner {
  margin-top: 80px;
}

.main-home .inner h2 {
  display: inline;
  background-color: #fff;
  padding: 15px;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.main-home .inner .h2 {
  display: none;
}

.main-home .inner .title {
  margin-top: 25px;
  font-family: "Arvo", serif;
  font-size: 3.8rem;
  font-weight: 600;
  color: #fff;
}

.main-home .inner .text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 1200px) {
  .main-home .inner h2 {
    padding: 4px;
    font-size: 1.4rem;
  }
}

.top-banner {
  background: url(../webimages/main/top-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 250px;
  color: #fff;
  margin-top: -45px;
}

.banner-news {
  background: url(../webimages/main/bannernoticias2.jpg);
}

@media (max-width: 768px) {
  .top-banner {
    display: none;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .top-banner {
    height: 180px;
    margin-top: 98px;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main-home {
    padding: 9px 10px 53px;
  }
  .main-home .inner {
    margin-top: 30px;
  }
  .main-home .inner h2 {
    display: none;
  }
  .main-home .inner .h2 {
    display: block;
    background-color: #fff;
    color: #00122d;
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .main-home .inner .title {
    font-size: 3rem;
  }
  .top-space {
    height: 74px;
  }
}

.home-section-2 {
  background-color: #00122d;
  color: #fff;
}

.home-section-2 .inner .title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.home-section-3 {
  text-align: center;
}

.home-section-3 .horiz-items .inner {
  margin-bottom: 20px;
}

.home-section-3b {
  padding: 60px 10px;
  background-color: #00122d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-section-3b h3 {
  margin: 0;
}

@media (max-width: 991px) {
  .home-section-3b h3 {
    margin-bottom: 20px;
  }
}

.home-section-4 {
  background-color: #f9f9f9;
}

.home-section-4 .title {
  margin-bottom: 50px;
}

.home-section-4 p {
  font-weight: 400;
}

.home-section-4 img {
  width: 200px;
}

.home-section-4 .owl-carousel .item img {
  width: auto;
  margin-right: 20px;
  float: left;
}

.home-section-4 .owl-carousel .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profesionales-section-1 .inner {
  margin-bottom: 25px;
}

.profesionales-section-1 .inner h4 {
  font-size: 1rem;
  font-weight: 600;
}

.profesionales-section-1 .inner p {
  font-size: 1rem;
}

.single-item {
  background-color: #fff;
  padding: 25px;
  position: relative;
  -webkit-box-shadow: -1px 0px 13px -7px rgba(0, 0, 0, 0.55) !important;
  box-shadow: -1px 0px 13px -7px rgba(0, 0, 0, 0.55) !important;
  border-radius: 6px;
  margin-bottom: 15px;
}

.single-item p {
  font-size: 1.4rem;
}

.single-item a {
  color: blue;
}

.single-item h1 {
  text-align: center;
  margin-bottom: 25px;
}

.single-item .info {
  width: 100%;
}

.single-item .date {
  position: absolute;
  right: 12px;
  top: 5px;
}

@media (max-width: 430px) {
  .single-item {
    padding: 10px;
  }
  .single-item h1 {
    font-size: 2rem;
  }
}

.laboratorio-1 .horiz-items {
  margin-top: 40px;
}

.laboratorio-1 .horiz-items .inner img {
  width: 90px;
}

.laboratorio-1 .horiz-items .inner p {
  color: #fff;
}

.laboratorio .row {
  margin-bottom: 50px;
}

.laboratorio .enum-items-col .item p {
  font-size: 1.1rem;
  font-weight: 400;
}

@media (max-width: 991px) {
  .laboratorio-1 .horiz-items .inner {
    margin-bottom: 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.ing-ases-inpec {
  background: url(../webimages/cimhesas/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 80px 10px 110px;
  text-align: center;
}

.ing-ases-inpec .horiz-items .inner {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.ing-ases-inpec h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.ing-ases-inpec .horiz-items p {
  color: #fff;
}

.capacitaciones {
  background: url(../webimages/cimhesas/fondo-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 80px 10px 110px;
  text-align: center;
}

.capacitaciones .horiz-items .inner {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.capacitaciones h1 {
  font-size: 3.5rem;
  color: #00122d;
  margin-bottom: 40px;
}

.capacitaciones .horiz-items .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.capacitaciones .horiz-items .inner p {
  color: #00122d;
  font-weight: 600;
}

.capacitaciones .horiz-items .inner img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.servicios-de-contratacion {
  padding: 25px 10px;
}

/* INSUMOS */
.laboratorio-mobil {
  background: url(../webimages/cimhesas/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 20px;
}

.laboratorio-mobil h2 {
  margin-top: 50px;
  color: #fff;
}

.laboratorio-mobil .btn {
  font-family: "Arvo", serif;
}

.fab-prens {
  padding: 20px 10px;
}

.fab-prens .btn {
  font-size: 1.2rem;
}

.fab-prens .text-content {
  padding-top: 10px;
}

.download-catalog {
  color: #fff;
  padding: 25px 5px;
}

.download-catalog .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.download-catalog .text {
  margin-right: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Arvo", serif;
  float: left;
}

@media (max-width: 768px) {
  .download-catalog .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .download-catalog .container .row span {
    margin-bottom: 10px;
  }
}

.contact-section {
  padding: 30px 5px 60px;
}

.contact-section .contact-data {
  padding-top: 35px;
}

.contact-section .contact-data .inner-data {
  margin-bottom: 20px;
}

.contact-section .contact-data .inner-data .title {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Arvo", serif;
  color: #00c9ef;
  text-decoration: underline;
}

.contact-section .contact-data .inner-data .sub-title {
  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.contact-section .contact-data .inner-data .text {
  font-size: 1rem;
}

.contact-section .contact-data .inner-data .icons {
  margin-top: 10px;
}

.contact-section .contact-data .inner-data .icons img {
  width: 30px;
}

.contact-section .contact-data .inner-data .divisor {
  border-bottom: 1px solid #00122d;
  max-width: 250px;
  margin: 5px 0;
}

.contact-section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-section .inner h1 {
  color: #00122d;
}

.contact-form form {
  margin-top: 25px;
  color: #383838;
}

.contact-form form .form-group {
  margin-bottom: 0;
}

.contact-form form ::-webkit-input-placeholder {
  color: #949494;
  font-size: 0.9rem;
  font-family: "Arvo", serif;
  font-weight: 400;
}

.contact-form form ::-moz-placeholder {
  color: #949494;
  font-size: 0.9rem;
  font-family: "Arvo", serif;
  font-weight: 400;
}

.contact-form form ::-ms-input-placeholder {
  color: #949494;
  font-size: 0.9rem;
  font-family: "Arvo", serif;
  font-weight: 400;
}

.contact-form form ::-moz-placeholder {
  color: #949494;
  font-size: 0.9rem;
  font-family: "Arvo", serif;
  font-weight: 400;
}

.contact-form input {
  height: 40px;
}

.contact-form input, .contact-form textarea {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: 1px solid #bdbdbd;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 140px;
}

.contact-form .contactBtn {
  margin-top: 25px;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Arvo", serif;
  padding: 8px 80px;
}

.contact-form .form-responses {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #383838;
  font-size: 1.5rem;
}

.contact-form .form-responses i {
  font-size: 4rem;
}

.contact-form .form-responses i.success {
  color: #03c3ad;
}

.contact-form .form-responses i.error {
  color: #D77777;
}

.contact-form .form-responses hr {
  margin-top: 60px;
}

.contact-section2 {
  background-color: #00122d;
  padding: 120px 5px;
}

.contact-section2 .horiz-items .inner p {
  color: #ffff;
}

.home-contact-form form {
  margin-top: 0;
  text-align: center;
}

.home-contact-form form input, .home-contact-form form textarea {
  background-color: #fff;
  border: 0;
}

.home-contact-form form .contactBtn {
  margin: 0;
  font-size: 1rem;
  padding: 8px 20px;
}

.home-contact-form .form-responses-home {
  background-color: #fff;
  padding: 20px;
  font-size: 1rem;
  position: relative;
}

.home-contact-form .form-responses-home h2 {
  background-color: transparent;
  font-size: 1rem;
}

.home-contact-form .form-responses-home i {
  font-size: 1rem;
  color: green;
}

.home-contact-form .form-responses-home hr {
  display: none;
}

@media (max-width: 991px) {
  .home-contact-form {
    margin-top: 50px;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .contact-section2 .horiz-items .inner {
    display: block;
    text-align: center;
  }
  .contact-section2 .horiz-items .inner img {
    float: none;
  }
}

@media (min-width: 991px) {
  .contact-form form .left {
    padding-right: 4px;
  }
  .contact-form form .right {
    padding-left: 4px;
  }
}

.contact-map {
  margin-bottom: -10px;
}

.whatsapp-call {
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
  z-index: 9999;
}

.whatsapp-call img {
  width: 40px;
}

.whatsapp-call img:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  .whatsapp-call {
    bottom: 150px;
  }
}

.social-icons-bottom {
  padding: 40px 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.social-icons-bottom img {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.social-icons-bottom img:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  cursor: pointer;
}

footer {
  padding: 15px 5px;
  background-color: #00122d;
  color: #fff;
  text-align: center;
}

footer .copyright {
  background-color: #0A1120;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.blog-list {
  margin-top: 15px;
}

.blog-list .blog-item {
  margin-bottom: 35px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: relative;
}

.blog-list .blog-item .inner {
  min-height: 220px;
  position: relative;
}

.blog-list .blog-item .inner .image {
  border: 1px solid red;
  float: left;
}

.blog-list .blog-item .inner .image img {
  max-width: 100%;
}

.blog-list .blog-item .inner h3, .blog-list .blog-item .inner p {
  color: #383838;
}

.blog-list .blog-item .inner h3 {
  margin-top: 5px;
}

.blog-list .blog-item .inner p {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 25px;
}

.blog-list .blog-item .inner .date {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.blog-list .blog-item .inner .search {
  position: absolute;
  bottom: 5px;
  left: 12px;
}

.blog-list .blog-item:hover {
  background-color: rgba(249, 249, 249, 0.45);
}

.blog-article {
  position: relative;
  margin-bottom: 150px;
}

.blog-article .inner {
  margin-top: 20px;
}

.blog-article .image {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.blog-article .image img {
  width: 340px;
}

.blog-article p {
  text-align: justify;
  padding-bottom: 50px;
}

.blog-article .search {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.blog-article .date {
  position: absolute;
  right: 16px;
  top: -15px;
}

@media (max-width: 1200px) {
  .blog-article .search {
    padding: 5px;
  }
}

@media (max-width: 991px) {
  .blog-list h1 {
    display: none;
  }
  .blog-list .blog-item .inner p {
    font-size: .9rem;
  }
  .blog-list .blog-item .inner .date {
    bottom: 4px;
    right: 20px;
  }
  .blog-list .blog-item .inner .search {
    bottom: 4px;
  }
  .blog-list .blog-item .image img {
    max-width: 240px;
  }
  .blog-article h1 {
    display: none;
  }
  .blog-article .date {
    position: relative;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .blog-list .blog-item .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blog-list .blog-item .image img {
    width: 768px;
    max-width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 580px) {
  .blog-article .inner p {
    min-height: 390px;
  }
  .blog-article .inner .search {
    right: 20px;
  }
}

@media (max-width: 768px) and (min-width: 330px) {
  .blog-list .blog-item .image {
    max-height: 250px;
    overflow: hidden;
  }
  .blog-list .blog-item .image img {
    max-width: 100%;
  }
}

@media (max-width: 580px) {
  .blog-article .inner .image {
    float: none;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .blog-article .inner .image img {
    width: 70%;
  }
  .blog-article .inner .search {
    bottom: -20px;
    left: 10px;
  }
}

@media (max-width: 500px) {
  .blog-list .blog-item {
    margin-bottom: 50px;
  }
  .blog-list .blog-item .inner {
    min-height: 0;
  }
  .blog-list .blog-item .inner p {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 20px;
  }
  .blog-list .blog-item .inner .date, .blog-list .blog-item .inner .search {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .blog-list .blog-item .inner .date {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .blog-list .blog-item .inner {
    min-height: 192px;
  }
  .blog-list .blog-item .inner p {
    font-size: 0.8rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .blog-list .blog-item .inner {
    min-height: 240px;
  }
}

.search-input hr {
  margin-top: 20px;
}

.search-input input {
  width: 70%;
  float: left;
  margin-right: 5px;
  border-radius: 0;
}

.search-input button {
  color: #000;
  border-radius: 0;
}

@media (min-width: 768px) {
  .blog-filters-desktop {
    padding: 15px;
    background-color: rgba(249, 249, 249, 0.42);
  }
  .blog-filters-desktop span.badge {
    padding: 2px 6px;
    margin-top: -2px;
  }
}

@media (max-width: 991px) {
  .blog-filters-desktop {
    display: none;
  }
}

.blog-filters-mobile {
  display: none;
}

@media (max-width: 991px) {
  .blog-filters-mobile {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  .blog-filters-mobile h2 {
    color: #383838;
  }
  .blog-filters-mobile .inner-main {
    position: relative;
    height: 40px;
    padding-left: 15px;
  }
  .blog-filters-mobile .inner-main .title {
    font-family: "Arvo", serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #00122d;
  }
  .blog-filters-mobile .inner-main .filterMobileBtn {
    color: #383838;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 2px;
    border-radius: 0;
    padding: 5px 26px 0;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  .blog-filters-mobile .inner-main .filterMobileBtn:hover {
    color: #383838;
    background-color: #ccc;
  }
}

@media (max-width: 768px) {
  .blog-filters-mobile {
    margin-top: 94px;
  }
}

.search-bar {
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 0px 18px;
  min-height: 38px;
}

.search-bar input {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  background-color: transparent;
}

.search-bar .search-btn {
  background-color: transparent;
  color: #383838;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .search-bar .search-btn {
    display: none;
  }
  .search-input input {
    width: 100%;
  }
}

.filter-inner {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.filter-inner hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d4d4d4;
}

.filter-inner .search-input hr {
  margin-top: 20px;
}

.filter-inner .search-input input {
  width: 70%;
  float: left;
  margin-right: 5px;
  border-radius: 0;
}

.filter-inner .search-input button {
  color: #000;
  border-radius: 0;
}

.filter-inner .search-buttons .title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.filter-inner .search-buttons .filter-button {
  font-weight: 300;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #000;
  font-size: 1rem;
}

.filter-inner .search-buttons .filter-button:hover {
  background-color: #f9f9f9;
}

.gallery-list a {
  color: #383838;
}

.gallery-list .item {
  margin-bottom: 40px;
}

.gallery-list .item .image {
  position: relative;
}

.gallery-list .item .image img {
  max-width: 100%;
  width: 100%;
}

.gallery-list .item .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 18, 45, 0.5);
  color: #00c9ef;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Arvo", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gallery-list .item .image .overlay .btn {
  border: 1px solid #00c9ef;
  background-color: transparent;
}

.gallery-list .item .image .overlay .btn:hover {
  background-color: #00c9ef;
  color: #f9f9f9;
}

.gallery-list .item .image .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.gallery-list .item .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Arvo", serif;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}

.gallery-slider {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-slider .owl-carousel {
  max-width: 450px;
}

.gallery-slider .owl-carousel .owl-nav .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

.gallery-slider .owl-carousel .owl-nav .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -40px;
  display: block !important;
  border: 0px solid black;
}

.gallery-slider .owl-carousel .owl-nav .owl-prev, .gallery-slider .owl-carousel .owl-nav .owl-next {
  font-size: 4rem;
  color: #00122d;
}

.gallery-slider .owl-carousel .owl-nav .owl-prev:active, .gallery-slider .owl-carousel .owl-nav .owl-prev:focus, .gallery-slider .owl-carousel .owl-nav .owl-next:active, .gallery-slider .owl-carousel .owl-nav .owl-next:focus {
  border: 0;
}

.gallery-slider .owl-theme .owl-nav [class*=owl-] {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.gallery-slider .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  color: #00c9ef;
}

.gallery-slider .owl-carousel .owl-nav .owl-prev:hover, .gallery-slider .owl-carousel .owl-nav .owl-prev:active, .gallery-slider .owl-carousel .owl-nav .owl-prev:focus, .gallery-slider .owl-carousel .owl-nav .owl-next:hover, .gallery-slider .owl-carousel .owl-nav .owl-next:active, .gallery-slider .owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}
