////////////////////////////////////////
//                                    //
//              HOME                  //
//                                    //
////////////////////////////////////////

.top-space
	height: 100px

.main-home
	background: url(../webimages/main/banner.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	position: relative
	padding: 80px 10px 110px
	.inner
		margin-top: 80px
		h2
			display: inline
			background-color: #fff
			padding: 15px
			font-family: $font2
			font-size: 1.6rem
			font-weight: 600
		.h2
			display: none
		.title
			margin-top: 25px
			font-family: $font2
			font-size: 3.8rem
			font-weight: 600
			color: #fff
		.text
			font-size: 1.3rem
			font-weight: 400
			color: #fff


@media (max-width:990px) and (min-width:768px)
	.main-home
	.nav-container
		@include flex-column

@media (max-width: 768px)
	.main-home
		padding: 9px 10px 53px
		.inner
			margin-top: 30px
			h2
				display: none
			.h2
				display: block
				background-color: #fff
				color: $color1
				font-family: $font2
				font-size: 1.2rem
				font-weight: 600
				padding: 5px
				
			.title
				font-size: 3rem

	.top-space
    	height: 74px


//--------- SECOND SECTION ------------- //
.home-section-2
	background-color: $back-color
	color: #fff
	.inner
		.title
			margin-bottom: 15px
			font-size: 1.5rem
			font-weight: 400
			color: #fff


//------------ THIRD SECTION ------------- //
.home-section-3
	text-align: center
	.horiz-items .inner
		margin-bottom: 20px

		

//--------- FOURTH SECTION ------------- //
.home-section-4
	background-color: $color2
	.title
		margin-bottom: 50px
	p
		font-weight: 400
	img
		width: 200px

//--------- PROFESIONALES ------------- //
.profesionales-section-1
	.inner
		margin-bottom: 25px
		h4
			font-size: 1rem
			font-weight: 600
		p
			font-size: 1rem
		.item
			width: 100%
			img
				float: left
				margin-right: 10px
				max-height: 100%
			p
				margin-top: 5px
				
////////////////////////////////////////
//                                    //
//              PORTFOLIO             //
//                                    //
////////////////////////////////////////

.dark-container-top
	padding: 0
	padding-top: 60px
	background-color: #fff
	color: #fff
	h2
		text-align: center

.container-top
	padding: 0
	margin-top: 80px
	padding-bottom: 50px

.filters
	.searcher
		input
			color: #000

.portfolio-container
	padding-top: 20px
	.portfolio-item
		@include flex-column
		margin-bottom: 25px
		.inner
			// width: auto
			img
				max-width: 100%
				@include transition(0.2s)
				&:hover
					filter: brightness(50%)
					cursor: pointer
			.info	
				padding: 15px
				background-color: #fff
				position: relative
				min-height: 188px
				padding-bottom: 70px
				hr
					margin-top: 10px
					margin-bottom: 10px
				.text
					font-family: $font2
					font-size: 1rem
					color: $color3
					font-weight: 400
				.title
					font-size: 1.3rem
					font-weight: 700
					margin-top: 10px
					margin-bottom: 5px
					margin-left: 5px
				.cat-title
					margin-left: 5px
				.cat-text
					a
						color: #9D9D9D
						&:hover
							color: #383838
				.bottom-content
					position: absolute
					bottom: 10px
					left: 5px
					.tags
						margin-top: 5px
						line-height: 28px
					.date
						margin-left: 5px
						margin-top: 5px
						span.text
							color: #ABABAB

@media (max-width: 1380px) and (min-width: 991px)
	.portfolio-container
		.portfolio-item
			.inner
				.info
					min-height: 208px

// @media (max-width: 1032px) and (min-width: 991px)
// 	.portfolio-container
// 		.portfolio-item
// 			.inner
// 				.info
// 					min-height: 208px

$nav_dark1: #31313A
$nav_dark2: #3F3F4A
$nav_dark3: #444450
@media (min-width: 765px)
	.portfolio-filter
		background-color: #fff
		border: 0
		.icons-menu
			font-size: 1.2rem
			margin-right: 5px
		.container-fluid,.navbar-collapse
			padding-left: 0
			padding-right: 15px
		.portfolio-filter-left
			height: 50px
			.title
				padding: 15px 30px
				background-color: #fff
				border-right: 1px solid #ccc
				color: #383838
				height: 55px
			li.filter-parent-link
				height: 55px
			li
				border-right: 1px solid #ccc
				&:hover,&:focus,&:active
					border: 0 !important
					a
						border: 0 !important
				a
					padding-left: 10px
					color: #fff
					font-size: 1rem
					font-family: $font1
					font-weight: 300
				&:hover
					background-color: $light-green
					a
						color: #fff
				&:focus,&:active
					background-color: $light-green
					border: 0
					color: #fff
					a
						color: #fff

			.open > a, .open > a:focus, .open > a:hover
				border: 0
				background-color: $light-green
				color: #fff
			.dropdown-items
				background-color: #fff
				border: 0
				border-radius: 0
				.badge
					font-family: $font2
					font-weight: 400
					font-size: 0.8rem
					margin-right: 5px
					background-color: $light-green
					width: 28px
				li
					a
						color: #000
					&:hover
						background-color: #fff
						color: #383838
						a
							color: #383838	
		.portfolio-filter-right
			.search-bar
				border: 1px solid #ccc
				border-radius: 40px
				padding: 0px 18px
				input
					border: 0
					box-shadow: none
					font-size: 1rem
				.search-btn
					background-color: #fff
					color: #383838
			// form
			// 	input
			// 		border: 0
			// 		border-radius: 0
			// .search-btn
			// 	background-color: #fff
			// 	// border-radius: 0
			// 	color: #383838
			// 	// @include transition(0.2s)
			// 	// &:hover
			// 	// 	background-color: #383838
			// 	// 	color: #fff

@media (max-width: 765px)
	.portfolio-filter
		display: none

.portfolio-filter-mobile
	display: none

@media (max-width: 765px)
	.portfolio-filter-mobile
		display: block
		position: relative
		padding: 0
		.search-bar
			border: 1px solid #ccc
			border-radius: 40px
			padding: 0px 18px
			input
				border: 0
				box-shadow: none
				font-size: 1rem
			.search-btn
				background-color: #fff
				color: #383838
		h2
			color: #383838
		.inner-main
			height: 40px
			padding-left: 15px
		.title
			font-size: 1.5rem
			color: #383838
		.filterMobileBtn
			color: #383838
			background-color: transparent
			position: absolute
			right: 0
			top: -9px
			border-radius: 0
			padding: 5px 26px 0
			margin-right: 20px
			margin-bottom: 10px
			font-family: "Josefin Slab", serif
			font-weight: 400
			font-size: 1.3rem
			border: 1px solid #ccc
			border-radius: 50px
			&:hover
				color: #383838
				background-color: #ccc
		// Filters
		.filter-inner
			text-align: center
			background-color: #fff
			padding: 10px
			hr
				margin-top: 10px
				margin-bottom: 20px
				border: 0
				border-top: 1px solid #d4d4d4
				// border-top: 1px solid rgb(84, 87, 116)
			.search-input
				hr
					margin-top: 20px
				input
					width: 70%
					float: left
					margin-right: 5px
					border-radius: 0
				button
					color: #000
					border-radius: 0
			.search-buttons
				.title
					font-size: 1.2rem
					margin-bottom: 10px
					font-weight: 400
				.filter-button
					font-weight: 300
					border-radius: 50px
					background-color: transparent
					border: 1px solid #dbdbdb
					padding: 5px
					margin-right: 5px
					margin-bottom: 5px
					color: #000
					font-size: 1rem
					&:hover
						background-color: #f9f9f9

.single-item
	background-color: #fff
	padding: 25px
	position: relative
	@include box-shadow-center
	border-radius: 6px
	margin-bottom: 15px
	p
		font-size: 1.4rem
	a
		color: blue
	h1
		text-align: center
		margin-bottom: 25px
	// .image
	// .content
	.info
		width: 100%
	.date
		position: absolute
		right: 12px
		top: 5px
	
@media (max-width: 430px)
	.single-item
		padding: 10px
		h1
			font-size: 2rem

////////////////////////////////////////
//                                    //
//              CONTACT               //
//                                    //
////////////////////////////////////////

$ph-text: 1rem
$ph-color: #949494
$ph-font: $font2
$ph-weight: 400

.contact-section
	padding: 30px 5px 60px
	.contact-data
		padding-top: 35px
		.inner-data
			margin-bottom: 20px
			.title
				font-size: 1.4rem
				font-weight: 400
				font-family: $font2
				color: $color3
				text-decoration: underline
			.sub-title
				font-family: $font1
				font-size: 1.2rem
				font-weight: 600
			.text
				font-size: 1rem
			.icons
				margin-top: 10px
				img
					width: 30px
			.divisor
				border-bottom: 1px solid $color1
				max-width: 250px
				margin: 5px 0
	.inner
		h1
			color: $color1
		@include flex-center
		.contact-form
			form
				// background-color: rgba(206, 206, 206, 0.2)
				// @include box-shadow-floor
				color: #383838
				>.col-md-6
					padding: 0
				.form-group
					margin-bottom: 0
				// Chrome/Opera/Safari
				::-webkit-input-placeholder 
					color: $ph-color
					font-size: $ph-text
					font-family: $ph-font
					font-weight: $ph-weight
				// Firefox 19+
				::-moz-placeholder
					color:  $ph-color
					font-size: $ph-text
					font-family: $ph-font
					font-weight: $ph-weight
				//IE 10+
				::-ms-input-placeholder
					color: $ph-color
					font-size: $ph-text
					font-family: $ph-font
					font-weight: $ph-weight
				//Firefox 18-
				::-moz-placeholder
					color:  $ph-color
					font-size: $ph-text
					font-family: $ph-font
					font-weight: $ph-weight
			input
				height: 50px
			input,textarea
				background-color: transparent
				box-shadow: none
				border-radius: 0
				border: 1px solid $color1
				font-size: 1.2rem
				margin-bottom: 10px
			textarea
				height: 210px
			.contactBtn
				font-size: 1.5rem
				color: #fff
				font-family: $font2
				padding: 8px 80px
			.form-responses
				padding-top: 30px
				padding-bottom: 20px
				color: #383838
				font-size: 1.5rem
				i
					font-size: 4rem
				i.success
					color: $light-green
				i.error
					color: $main-red
				hr
					margin-top: 60px

.contact-section2
	background-color: $color1
	padding: 120px 5px
	.horiz-items
		.inner p
			color: #ffff

@media (max-width: 768px)
	.contact-section2
		.horiz-items 
			.inner
				display: block
				text-align: center
				img
					float: none
			

.contact-map
	margin-bottom: -10px


.whatsapp-call
	padding: 10px
	position: fixed
	bottom: 50px
	right: 0
	background-color: #fff
	border-radius: 5px 0 0 5px
	@include box-shadow
	z-index: 9999
	img
		width: 40px
		&:hover
			cursor: pointer

@media (min-width: 1000px)
	.whatsapp-call
		bottom: 150px

.social-icons-bottom
	padding: 40px 5px
	background-color: $color2
	text-align: center
	img
		@include transition(0.1s)
		&:hover
			transform: translate(0, 5px)
			cursor: pointer

footer
	padding: 15px 5px
	background-color: $color1
	color: #fff
	text-align: center
			
	.copyright
		background-color: #0A1120
		padding: 10px 5px
		text-align: center
		color: #fff
		font-family: $font2
		font-weight: 400
		font-size: 1.4rem


